.wrapper {
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  background-repeat: no-repeat;
  top: 0;
  width: 100%;
  height: 947px;
  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
  background-position: center;
  background-size: cover;
}

// .wrapper {
//   height: 100%;
//   width: 100%;
//   background-color: aqua;
// }

.header-content {
  width: 100vw;

  header {
      padding-top: 5px;

      nav {
          a {
            padding: 0 4px !important;

            &:hover {
              color: var(--primary-color) !important;
            }
          }
      
          .dd-item {
            color: #002b5c;
      
            &:focus,
            &:hover {
              background-color: transparent;
              color: #fb8e26 !important;
            }
          }
      
          .dd-menu {
            li {
              padding: 8px 10px 8px 14px;
            }
          }

          .navbar-brand img {
            width: 200px;
          }
        }
  }
}


.nav-item {
  position: relative;
  cursor: pointer;
  padding: 20px 0 24px 0;

  a{
    color:#ffffff ;
  }

  .active {
    color: var(--primary-color) !important;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 3px;
    display: block;
    width: 0;
    height: 5px;
    background: var(--primary-color);
    transition: width 0.5s ease-in-out;
  }

  &:hover::after {
    width: 91%;
    transform: scaleY(1);
    border-bottom-color: var(--primary-color);
  }

  .nav-link {
    color: #ffffff;
  }
}

.dropdown{
  a{
    color: #ffffff !important;
  }
}




.navbar-toggler {
  background-color: var(--primary-color) !important;

  i {
    color: #ffffff;
  }
}



.pages-active {
  color: var(--primary-color) !important;
}

hr {
  margin: 5px 0 1rem 0 !important;
  color: inherit;
  background-color: #ffffff;
  border: 0;
  opacity: 1;
  height: 1px;
}

.my-navbar {
  --bs-navbar-padding-y: 0;
  padding-top: 0;
  padding-bottom: 0;
}
